<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.holidayextras.co.uk/"></a>
    </div>
    <a class="navbar-title pull-left" href="/">
      Holiday Extras API
    </a>
    <form class="navbar-form navbar-right" id="search-form" method="get" action="/search">
      <div class="input-group input-group-lg">
        <input type="text" name="query" class="form-control" id="search-box" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</nav>
