<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTPVDF7');</script>
    <!-- End Google Tag Manager -->
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/api-docs.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="icon" type="image/png" href="https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/images/favicons/favicon_32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/images/favicons/favicon_196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/images/favicons/favicon_96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/images/favicons/favicon_16.png" sizes="16x16"/>
  </head>
  <body>
    <nav role="nav" class="navbar navbar-default hidden-print navbar-static-top">
       <div class="container">
         <a class="navbar-brand" href="https://www.holidayextras.co.uk">Holiday Extras</a> 
       </div>
     </nav>
    <div class="container block-md">
      <main role="main">
        <div class="panel panel-primary">
          <div class="panel-heading"><div class="h1">Holiday Extras API</div></div>
            <div class="panel-body">
  <h1 id="view-booking">View Booking</h1>

<p><a href="/hxapi/">API Docs</a> &gt; product:<a href="/hxapi/viewamendcancel/view">view</a></p>

<h2 id="view-booking-request">View Booking Request</h2>

<p>This method works for bookings made for any product type using our API.</p>

<h3 id="method">Method</h3>

<p>GET</p>

<h3 id="endpoint">Endpoint</h3>

<p>The endpoint to use is (where <code class="highlighter-rouge">YourBookingRef</code> is the Holiday Extras booking reference):</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>https://api.holidayextras.co.uk/v1/booking/YourBookingRef
</code></pre></div></div>

<h3 id="request-parameters">Request Parameters</h3>

<p>NB: All parameter names are case sensitive.</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Data Type</th>
      <th>Format</th>
      <th>Mandatory?</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ABTANumber</td>
      <td>String</td>
      <td>[A-Z0-9] 5 chars</td>
      <td>Y</td>
      <td>This is also known as an ‘agent code’. <br />This will be confirmed to you by your Account Manager during set up.</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>String</td>
      <td>[A-Z0-9] 5 chars</td>
      <td>N*</td>
      <td>Password required for retail agent requests - intermediaries do not require a password.<br />This will be confirmed to you by your Account Manager during set up.</td>
    </tr>
    <tr>
      <td>Initials</td>
      <td>String</td>
      <td>[A-Z] 3 chars</td>
      <td>N</td>
      <td>The initials of the Operator / Agent.</td>
    </tr>
    <tr>
      <td>key</td>
      <td>String</td>
      <td>[A-Z]</td>
      <td>Y</td>
      <td>This will be assigned to you by your Account Manager during set up.</td>
    </tr>
    <tr>
      <td>token</td>
      <td>String</td>
      <td>[0-9] 9 chars</td>
      <td>Y</td>
      <td>This is the same token used in the availability request.</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>String</td>
      <td>[A-Z0-9] 50 chars</td>
      <td>Y</td>
      <td>Email address used to make the booking (i.e. the email address of the lead passenger)</td>
    </tr>
    <tr>
      <td>System</td>
      <td>String</td>
      <td>[A-Z] 3 chars</td>
      <td>Y*</td>
      <td>For European products, you need to pass in the value of <code class="highlighter-rouge">System=ABG</code> (the default is <code class="highlighter-rouge">System=ABC</code>, which is UK products only).</td>
    </tr>
  </tbody>
</table>

<h2 id="view-booking-response">View Booking Response</h2>

<p>The view booking response will return all of the details against that booking record in our system.</p>

<p>For a detailed explanation of the fields returned, please see below:</p>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Booking/BookingRef</td>
      <td>This is the reference for this booking. It must be referred to in all communication with us concerning this booking. <br />NB: Our booking references are up to 12 char alphanumeric (including 1/I and 0/O/Q).</td>
    </tr>
    <tr>
      <td>Booking/Amendable</td>
      <td>This will return one of the following: <code class="highlighter-rouge">Y</code> = booking can be amended; <code class="highlighter-rouge">N</code> = booking cannot be amended; <code class="highlighter-rouge">C</code> = booking has been cancelled; <code class="highlighter-rouge">S</code> = booking is same day so cannot be amended or cancelled.</td>
    </tr>
    <tr>
      <td>Booking/CanxDate</td>
      <td>If the booking has been cancelled, the date on which it was will return here.</td>
    </tr>
    <tr>
      <td>Booking/AgentComm</td>
      <td>Commission you have earned from this booking.</td>
    </tr>
    <tr>
      <td>Booking/BookingDate</td>
      <td>The date the booking was originally made on.</td>
    </tr>
    <tr>
      <td>Booking/PdfURL</td>
      <td>A link to generate a pdf version of the booking confirmation.</td>
    </tr>
    <tr>
      <td>Itinerary</td>
      <td>This block will return details of the original booking, as per the booking response for each product type. Please see the respective booking guides for further details on the fields.</td>
    </tr>
    <tr>
      <td>ClientDetails</td>
      <td>This block will return details of the lead passenger.</td>
    </tr>
    <tr>
      <td>Pricing</td>
      <td>This block will return details of the price paid by the customer.</td>
    </tr>
    <tr>
      <td>VAT</td>
      <td>Please ignore this block.</td>
    </tr>
    <tr>
      <td>CustRef</td>
      <td>If you have passed in a Customer Reference with your original booking request, it will return here.</td>
    </tr>
    <tr>
      <td>BarCode</td>
      <td>A link to generate a bar code for the booking confirmation.</td>
    </tr>
    <tr>
      <td>API_Header/Request</td>
      <td>A list of parameters that were sent in the view booking request.</td>
    </tr>
  </tbody>
</table>

<h2 id="worked-examples">Worked Examples</h2>

<p>Below are worked examples of both the request and response for view a booking.</p>

<h3 id="uk-products-view-booking-request-for-a-car-park">UK Products View Booking Request (for a car park)</h3>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>https://api.holidayextras.co.uk/v1/booking/YourBookingRef?ABTANumber=YourABTANumber<span class="err">&amp;</span>Password=YourPassword<span class="err">&amp;</span>Initials=YourInitials<span class="err">&amp;</span>key=YourKey<span class="err">&amp;</span>token=YourToken<span class="err">&amp;</span>Email=test@test.com
</code></pre></div></div>

<h3 id="uk-products-view-booking-response-for-a-car-park">UK Products View Booking Response (for a car park)</h3>

<div class="language-xml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="cp">&lt;?xml version="1.0"?&gt;</span>
<span class="nt">&lt;API_Reply</span> <span class="na">System=</span><span class="s">"ABC"</span> <span class="na">Version=</span><span class="s">"1.0"</span> <span class="na">Product=</span><span class="s">"General"</span> <span class="na">Customer=</span><span class="s">"A"</span> <span class="na">Session=</span><span class="s">"703010076"</span> <span class="na">RequestCode=</span><span class="s">"7"</span> <span class="na">Result=</span><span class="s">"OK"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;Agent&gt;</span>YourABTA<span class="nt">&lt;/Agent&gt;</span>
    <span class="nt">&lt;Booking&gt;</span>
        <span class="nt">&lt;BookingRef&gt;</span>YourBookingRef<span class="nt">&lt;/BookingRef&gt;</span>
        <span class="nt">&lt;Amendable&gt;</span>Y<span class="nt">&lt;/Amendable&gt;</span>
        <span class="nt">&lt;CanxDate/&gt;</span>
        <span class="nt">&lt;CCode/&gt;</span>
        <span class="nt">&lt;BasketRef/&gt;</span>
        <span class="nt">&lt;AgentComm&gt;</span>4.49<span class="nt">&lt;/AgentComm&gt;</span>
        <span class="nt">&lt;VATonComm&gt;</span>0.00<span class="nt">&lt;/VATonComm&gt;</span>
        <span class="nt">&lt;Brand&gt;</span>HX<span class="nt">&lt;/Brand&gt;</span>
        <span class="nt">&lt;Domain/&gt;</span>
        <span class="nt">&lt;Lang/&gt;</span>
        <span class="nt">&lt;Platform/&gt;</span>
        <span class="nt">&lt;FraudBooking/&gt;</span>
        <span class="nt">&lt;SupplierReference/&gt;</span>
        <span class="nt">&lt;Cancellable/&gt;</span>
        <span class="nt">&lt;BookingDate&gt;</span>2018-02-09<span class="nt">&lt;/BookingDate&gt;</span>
        <span class="nt">&lt;PdfUrl&gt;</span>/v1/confirmation?email=test%40test.com<span class="ni">&amp;amp;</span>booking_ref=YourBookingRef<span class="ni">&amp;amp;</span>product_type=carparks<span class="nt">&lt;/PdfUrl&gt;</span>
    <span class="nt">&lt;/Booking&gt;</span>
    <span class="nt">&lt;Itinerary&gt;</span>
        <span class="nt">&lt;Product&gt;</span>Parking<span class="nt">&lt;/Product&gt;</span>
        <span class="nt">&lt;ArrivalDate&gt;</span>2018-12-01<span class="nt">&lt;/ArrivalDate&gt;</span>
        <span class="nt">&lt;LastAmendDate/&gt;</span>
        <span class="nt">&lt;Remarks/&gt;</span>
        <span class="nt">&lt;FlightNum&gt;</span>EZY8985<span class="nt">&lt;/FlightNum&gt;</span>
        <span class="nt">&lt;ArrivalTime&gt;</span>1200<span class="nt">&lt;/ArrivalTime&gt;</span>
        <span class="nt">&lt;Location&gt;</span>MAN<span class="nt">&lt;/Location&gt;</span>
        <span class="nt">&lt;ReturnDate/&gt;</span>
        <span class="nt">&lt;CarDropoffTime&gt;</span>1200<span class="nt">&lt;/CarDropoffTime&gt;</span>
        <span class="nt">&lt;CarPickupDate&gt;</span>2018-12-08<span class="nt">&lt;/CarPickupDate&gt;</span>
        <span class="nt">&lt;CarPickupTime&gt;</span>1200<span class="nt">&lt;/CarPickupTime&gt;</span>
        <span class="nt">&lt;ParkingDays/&gt;</span>
        <span class="nt">&lt;ParkingSpaces&gt;</span>01<span class="nt">&lt;/ParkingSpaces&gt;</span>
        <span class="nt">&lt;ReturnFlight&gt;</span>EZY8982<span class="nt">&lt;/ReturnFlight&gt;</span>
        <span class="nt">&lt;TerminalCode&gt;</span>N<span class="nt">&lt;/TerminalCode&gt;</span>
        <span class="nt">&lt;CarParkCode&gt;</span>MAR1<span class="nt">&lt;/CarParkCode&gt;</span>
        <span class="nt">&lt;DepartDate&gt;</span>2018-12-08<span class="nt">&lt;/DepartDate&gt;</span>
        <span class="nt">&lt;DepartTime&gt;</span>1200<span class="nt">&lt;/DepartTime&gt;</span>
        <span class="nt">&lt;Duration&gt;</span>8<span class="nt">&lt;/Duration&gt;</span>
        <span class="nt">&lt;NumberOfPax&gt;</span>1<span class="nt">&lt;/NumberOfPax&gt;</span>
        <span class="nt">&lt;ValetParking&gt;</span>N<span class="nt">&lt;/ValetParking&gt;</span>
        <span class="nt">&lt;PPTS/&gt;</span>
        <span class="nt">&lt;ParkStart/&gt;</span>
        <span class="nt">&lt;ParkTo/&gt;</span>
        <span class="nt">&lt;Code&gt;</span>MAR1<span class="nt">&lt;/Code&gt;</span>
        <span class="nt">&lt;Name&gt;</span>APH<span class="nt">&lt;/Name&gt;</span>
    <span class="nt">&lt;/Itinerary&gt;</span>
    <span class="nt">&lt;ClientDetails&gt;</span>
        <span class="nt">&lt;Title&gt;</span>MR<span class="nt">&lt;/Title&gt;</span>
        <span class="nt">&lt;Initial&gt;</span>T<span class="nt">&lt;/Initial&gt;</span>
        <span class="nt">&lt;Surname&gt;</span>TEST<span class="nt">&lt;/Surname&gt;</span>
        <span class="nt">&lt;Address/&gt;</span>
        <span class="nt">&lt;Address/&gt;</span>
        <span class="nt">&lt;Address/&gt;</span>
        <span class="nt">&lt;Town/&gt;</span>
        <span class="nt">&lt;County/&gt;</span>
        <span class="nt">&lt;Postcode/&gt;</span>
        <span class="nt">&lt;DayPhone&gt;</span>01234567890<span class="nt">&lt;/DayPhone&gt;</span>
        <span class="nt">&lt;EvePhone&gt;</span>01234567890<span class="nt">&lt;/EvePhone&gt;</span>
        <span class="nt">&lt;Email&gt;</span>test@test.com<span class="nt">&lt;/Email&gt;</span>
        <span class="nt">&lt;DataProtection/&gt;</span>
        <span class="nt">&lt;HistoryText/&gt;</span>
        <span class="nt">&lt;SourceRef/&gt;</span>
    <span class="nt">&lt;/ClientDetails&gt;</span>
    <span class="nt">&lt;Pricing&gt;</span>
        <span class="nt">&lt;AmountPaid&gt;</span>35.92<span class="nt">&lt;/AmountPaid&gt;</span>
        <span class="nt">&lt;AmountDue&gt;</span>0.00<span class="nt">&lt;/AmountDue&gt;</span>
        <span class="nt">&lt;TotalPrice&gt;</span>35.92<span class="nt">&lt;/TotalPrice&gt;</span>
        <span class="nt">&lt;CCardSurchargeAmount&gt;</span>0.00<span class="nt">&lt;/CCardSurchargeAmount&gt;</span>
        <span class="nt">&lt;BasePrice&gt;</span>35.92<span class="nt">&lt;/BasePrice&gt;</span>
        <span class="nt">&lt;Refund/&gt;</span>
        <span class="nt">&lt;GrossPrice&gt;</span>35.92<span class="nt">&lt;/GrossPrice&gt;</span>
        <span class="nt">&lt;Currency&gt;</span>GBP<span class="nt">&lt;/Currency&gt;</span>
    <span class="nt">&lt;/Pricing&gt;</span>
    <span class="nt">&lt;VAT&gt;</span>
        <span class="nt">&lt;BKgexcVAT&gt;</span>29.93<span class="nt">&lt;/BKgexcVAT&gt;</span>
        <span class="nt">&lt;CWexcVAT&gt;</span>0.00<span class="nt">&lt;/CWexcVAT&gt;</span>
        <span class="nt">&lt;CCexcVAT&gt;</span>0.00<span class="nt">&lt;/CCexcVAT&gt;</span>
        <span class="nt">&lt;BkgExemptVAT&gt;</span>0.00<span class="nt">&lt;/BkgExemptVAT&gt;</span>
        <span class="nt">&lt;Nettotal&gt;</span>29.93<span class="nt">&lt;/Nettotal&gt;</span>
        <span class="nt">&lt;VATAMT&gt;</span>5.99<span class="nt">&lt;/VATAMT&gt;</span>
        <span class="nt">&lt;GrossTotal&gt;</span>35.92<span class="nt">&lt;/GrossTotal&gt;</span>
        <span class="nt">&lt;VATNo&gt;</span>844 2814 25<span class="nt">&lt;/VATNo&gt;</span>
    <span class="nt">&lt;/VAT&gt;</span>
    <span class="nt">&lt;CustRef/&gt;</span>
    <span class="nt">&lt;BarCode&gt;</span>/barcode/YourBookingRef.png?key=YourKey<span class="nt">&lt;/BarCode&gt;</span>
    <span class="nt">&lt;RequestFlags&gt;</span>
        <span class="nt">&lt;Registration&gt;</span>Y<span class="nt">&lt;/Registration&gt;</span>
        <span class="nt">&lt;CarMake&gt;</span>Y<span class="nt">&lt;/CarMake&gt;</span>
        <span class="nt">&lt;CarModel&gt;</span>Y<span class="nt">&lt;/CarModel&gt;</span>
        <span class="nt">&lt;CarColour&gt;</span>Y<span class="nt">&lt;/CarColour&gt;</span>
        <span class="nt">&lt;CreditCard&gt;</span>N<span class="nt">&lt;/CreditCard&gt;</span>
        <span class="nt">&lt;ReturnFlight&gt;</span>Y<span class="nt">&lt;/ReturnFlight&gt;</span>
        <span class="nt">&lt;Terminal&gt;</span>N<span class="nt">&lt;/Terminal&gt;</span>
        <span class="nt">&lt;Destination&gt;</span>N<span class="nt">&lt;/Destination&gt;</span>
        <span class="nt">&lt;MobileNum&gt;</span>N<span class="nt">&lt;/MobileNum&gt;</span>
        <span class="nt">&lt;OutFlight&gt;</span>N<span class="nt">&lt;/OutFlight&gt;</span>
        <span class="nt">&lt;OutTerminal&gt;</span>N<span class="nt">&lt;/OutTerminal&gt;</span>
        <span class="nt">&lt;ReturnTerminal&gt;</span>N<span class="nt">&lt;/ReturnTerminal&gt;</span>
    <span class="nt">&lt;/RequestFlags&gt;</span>
    <span class="nt">&lt;CarDetails&gt;</span>
        <span class="nt">&lt;Registration&gt;</span>TE17 STS<span class="nt">&lt;/Registration&gt;</span>
        <span class="nt">&lt;CarMake&gt;</span>RANGE ROVER<span class="nt">&lt;/CarMake&gt;</span>
        <span class="nt">&lt;CarModel&gt;</span>EVOQUE<span class="nt">&lt;/CarModel&gt;</span>
        <span class="nt">&lt;CarColour&gt;</span>WHITE<span class="nt">&lt;/CarColour&gt;</span>
        <span class="nt">&lt;OutFlight&gt;</span>EZY8985<span class="nt">&lt;/OutFlight&gt;</span>
        <span class="nt">&lt;OutTerminal&gt;</span>N<span class="nt">&lt;/OutTerminal&gt;</span>
        <span class="nt">&lt;RetTerminal&gt;</span>N<span class="nt">&lt;/RetTerminal&gt;</span>
        <span class="nt">&lt;Mobile&gt;</span>01234567890<span class="nt">&lt;/Mobile&gt;</span>
        <span class="nt">&lt;Destination&gt;</span>MUNICH<span class="nt">&lt;/Destination&gt;</span>
    <span class="nt">&lt;/CarDetails&gt;</span>
    <span class="nt">&lt;CurrentSupplements/&gt;</span>
    <span class="nt">&lt;API_Header&gt;</span>
        <span class="nt">&lt;Request&gt;</span>
            <span class="nt">&lt;ABTANumber&gt;</span>YourABTANumber<span class="nt">&lt;/ABTANumber&gt;</span>
            <span class="nt">&lt;Password&gt;</span>YourPassword<span class="nt">&lt;/Password&gt;</span>
            <span class="nt">&lt;key&gt;</span>YourKey<span class="nt">&lt;/key&gt;</span>
            <span class="nt">&lt;token&gt;</span>YourToken<span class="nt">&lt;/token&gt;</span>
            <span class="nt">&lt;Email&gt;</span>test@test.com<span class="nt">&lt;/Email&gt;</span>
            <span class="nt">&lt;v&gt;</span>1<span class="nt">&lt;/v&gt;</span>
        <span class="nt">&lt;/Request&gt;</span>
    <span class="nt">&lt;/API_Header&gt;</span>
<span class="nt">&lt;/API_Reply&gt;</span>
</code></pre></div></div>

<h3 id="fields-explained">Fields Explained</h3>

<p>Most of these should be self explanatory, just the values from the booking.</p>

<p>The <code class="highlighter-rouge">PdfUrl</code> field contains a URL that can be used to retrieve a PDF copy of
the confirmation email. Note that you will need to append the fields
<code class="highlighter-rouge">ABTANumber</code>, <code class="highlighter-rouge">Password</code> and <code class="highlighter-rouge">key</code> to the link in order to authenticate.</p>

<p>Example: https://api.holidayextras.co.uk/sandbox/v1/confirmation?email=test@holidayextras.com&amp;booking_ref=HPABCDE&amp;product_type=carparks&amp;ABTANumber=WT314&amp;Password=redacted&amp;key=mytestkey</p>

<h4 id="bookingamendable">/Booking/Amendable</h4>

<p>Possible values</p>

<ul>
  <li>
    <p>Y - booking can be amended or cancelled</p>
  </li>
  <li>
    <p>N - booking cannot be amended or cancelled (advance purchase product etc)</p>
  </li>
  <li>
    <p>C - booking has been cancelled</p>
  </li>
</ul>

<h3 id="european-products-view-booking-request-for-a-hotel-room-only">European Products View Booking Request (for a hotel room only)</h3>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>https://api.holidayextras.co.uk/v1/booking/YourBookingRef?ABTANumber=YourABTANumber&amp;Password=YourPassword&amp;Initials=YourInitials&amp;key=YourKey&amp;token=YourToken&amp;Email=test@test.com&amp;System=ABG
</code></pre></div></div>

<h3 id="european-products-view-booking-response-for-a-hotel-room-only">European Products View Booking Response (for a hotel room only)</h3>

<div class="language-xml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="cp">&lt;?xml version="1.0"?&gt;</span>
<span class="nt">&lt;API_Reply</span> <span class="na">System=</span><span class="s">"ABG"</span> <span class="na">Version=</span><span class="s">"1.0"</span> <span class="na">Product=</span><span class="s">"General"</span> <span class="na">Customer=</span><span class="s">"A"</span> <span class="na">Session=</span><span class="s">"379895136"</span> <span class="na">RequestCode=</span><span class="s">"7"</span> <span class="na">Result=</span><span class="s">"OK"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;Agent&gt;</span>YourABTANumber<span class="nt">&lt;/Agent&gt;</span>
    <span class="nt">&lt;Booking&gt;</span>
        <span class="nt">&lt;BookingRef&gt;</span>YourBookingRef<span class="nt">&lt;/BookingRef&gt;</span>
        <span class="nt">&lt;Amendable&gt;</span>Y<span class="nt">&lt;/Amendable&gt;</span>
        <span class="nt">&lt;BookingDate&gt;</span>2018-02-09<span class="nt">&lt;/BookingDate&gt;</span>
        <span class="nt">&lt;CanxDate/&gt;</span>
        <span class="nt">&lt;VoucherRef&gt;</span>YourVoucherRef<span class="nt">&lt;/VoucherRef&gt;</span>
        <span class="nt">&lt;Brand&gt;</span>HX<span class="nt">&lt;/Brand&gt;</span>
        <span class="nt">&lt;Domain/&gt;</span>
        <span class="nt">&lt;Lang/&gt;</span>
        <span class="nt">&lt;Platform/&gt;</span>
        <span class="nt">&lt;AgentComm&gt;</span>11.42<span class="nt">&lt;/AgentComm&gt;</span>
        <span class="nt">&lt;VATonComm&gt;</span>1.82<span class="nt">&lt;/VATonComm&gt;</span>
        <span class="nt">&lt;MidocoBasket/&gt;</span>
        <span class="nt">&lt;MidocoCustRef/&gt;</span>
        <span class="nt">&lt;MidocoId/&gt;</span>
        <span class="nt">&lt;PdfUrl&gt;</span>/v1/confirmation?email=test%40test.com<span class="ni">&amp;amp;</span>booking_ref=YourBookingRef<span class="ni">&amp;amp;</span>product_type=hotels<span class="nt">&lt;/PdfUrl&gt;</span>
    <span class="nt">&lt;/Booking&gt;</span>
    <span class="nt">&lt;Itinerary&gt;</span>
        <span class="nt">&lt;Product&gt;</span>Hotel<span class="nt">&lt;/Product&gt;</span>
        <span class="nt">&lt;ArrivalDate&gt;</span>2018-12-01<span class="nt">&lt;/ArrivalDate&gt;</span>
        <span class="nt">&lt;LastAmendDate/&gt;</span>
        <span class="nt">&lt;Remarks/&gt;</span>
        <span class="nt">&lt;BoardBasis&gt;</span>F<span class="nt">&lt;/BoardBasis&gt;</span>
        <span class="nt">&lt;HotelCode&gt;</span>MUCLAN<span class="nt">&lt;/HotelCode&gt;</span>
        <span class="nt">&lt;Nights&gt;</span>1<span class="nt">&lt;/Nights&gt;</span>
        <span class="nt">&lt;NonSmoking&gt;</span>Y<span class="nt">&lt;/NonSmoking&gt;</span>
        <span class="nt">&lt;FlightNum/&gt;</span>
        <span class="nt">&lt;Code&gt;</span>MUCLAN<span class="nt">&lt;/Code&gt;</span>
        <span class="nt">&lt;Name&gt;</span>Schweigers Landgasthof<span class="nt">&lt;/Name&gt;</span>
    <span class="nt">&lt;/Itinerary&gt;</span>
    <span class="nt">&lt;ClientDetails&gt;</span>
        <span class="nt">&lt;Title&gt;</span>HERR<span class="nt">&lt;/Title&gt;</span>
        <span class="nt">&lt;Initial&gt;</span>T<span class="nt">&lt;/Initial&gt;</span>
        <span class="nt">&lt;Surname&gt;</span>TEST<span class="nt">&lt;/Surname&gt;</span>
        <span class="nt">&lt;Address&gt;</span>TBC<span class="nt">&lt;/Address&gt;</span>
        <span class="nt">&lt;Address&gt;</span>TBC<span class="nt">&lt;/Address&gt;</span>
        <span class="nt">&lt;Address/&gt;</span>
        <span class="nt">&lt;Town&gt;</span>TESTVILLE<span class="nt">&lt;/Town&gt;</span>
        <span class="nt">&lt;County&gt;</span>TESTSHIRE<span class="nt">&lt;/County&gt;</span>
        <span class="nt">&lt;Postcode&gt;</span>TE1 STS<span class="nt">&lt;/Postcode&gt;</span>
        <span class="nt">&lt;DayPhone&gt;</span>01234567890<span class="nt">&lt;/DayPhone&gt;</span>
        <span class="nt">&lt;EvePhone&gt;</span>01234567890<span class="nt">&lt;/EvePhone&gt;</span>
        <span class="nt">&lt;Email&gt;</span>test@test.com<span class="nt">&lt;/Email&gt;</span>
        <span class="nt">&lt;DataProtection/&gt;</span>
        <span class="nt">&lt;CustInvReqd&gt;</span>N<span class="nt">&lt;/CustInvReqd&gt;</span>
        <span class="nt">&lt;SecEmail/&gt;</span>
    <span class="nt">&lt;/ClientDetails&gt;</span>
    <span class="nt">&lt;Pricing&gt;</span>
        <span class="nt">&lt;AmountPaid&gt;</span>120.00<span class="nt">&lt;/AmountPaid&gt;</span>
        <span class="nt">&lt;AmountDue&gt;</span>0.00<span class="nt">&lt;/AmountDue&gt;</span>
        <span class="nt">&lt;Refund/&gt;</span>
        <span class="nt">&lt;BasePrice&gt;</span>120.00<span class="nt">&lt;/BasePrice&gt;</span>
    <span class="nt">&lt;/Pricing&gt;</span>
    <span class="nt">&lt;CarDetails&gt;</span>
        <span class="nt">&lt;Registration&gt;</span>-<span class="nt">&lt;/Registration&gt;</span>
        <span class="nt">&lt;Make&gt;</span>-<span class="nt">&lt;/Make&gt;</span>
        <span class="nt">&lt;Model&gt;</span>-<span class="nt">&lt;/Model&gt;</span>
        <span class="nt">&lt;Colour&gt;</span>-<span class="nt">&lt;/Colour&gt;</span>
        <span class="nt">&lt;OutTerm&gt;</span>MUC<span class="nt">&lt;/OutTerm&gt;</span>
        <span class="nt">&lt;RetTerm/&gt;</span>
        <span class="nt">&lt;OutFltNo/&gt;</span>
        <span class="nt">&lt;RetFltNo/&gt;</span>
        <span class="nt">&lt;Mobile/&gt;</span>
        <span class="nt">&lt;Pax&gt;</span>2<span class="nt">&lt;/Pax&gt;</span>
        <span class="nt">&lt;OutFltTime/&gt;</span>
        <span class="nt">&lt;InFltTime/&gt;</span>
        <span class="nt">&lt;Ship/&gt;</span>
        <span class="nt">&lt;Pier/&gt;</span>
        <span class="nt">&lt;ChildSeat/&gt;</span>
        <span class="nt">&lt;AddlServices/&gt;</span>
        <span class="nt">&lt;ParkingDays/&gt;</span>
        <span class="nt">&lt;ParkingSpaces/&gt;</span>
        <span class="nt">&lt;CarArrTime&gt;</span>0030<span class="nt">&lt;/CarArrTime&gt;</span>
        <span class="nt">&lt;CarDetFlags/&gt;</span>
        <span class="nt">&lt;CarDepTime&gt;</span>2330<span class="nt">&lt;/CarDepTime&gt;</span>
    <span class="nt">&lt;/CarDetails&gt;</span>
    <span class="nt">&lt;Room&gt;</span>
        <span class="nt">&lt;RoomCode&gt;</span>DZ<span class="nt">&lt;/RoomCode&gt;</span>
        <span class="nt">&lt;Rooms&gt;</span>1<span class="nt">&lt;/Rooms&gt;</span>
        <span class="nt">&lt;Adults&gt;</span>2<span class="nt">&lt;/Adults&gt;</span>
        <span class="nt">&lt;Children&gt;</span>0<span class="nt">&lt;/Children&gt;</span>
        <span class="nt">&lt;Infants&gt;</span>0<span class="nt">&lt;/Infants&gt;</span>
    <span class="nt">&lt;/Room&gt;</span>
    <span class="nt">&lt;CurrentSupplements/&gt;</span>
    <span class="nt">&lt;SepaEncashment/&gt;</span>
    <span class="nt">&lt;SepaID/&gt;</span>
    <span class="nt">&lt;CustRef/&gt;</span>
    <span class="nt">&lt;API_Header&gt;</span>
        <span class="nt">&lt;Request&gt;</span>
            <span class="nt">&lt;ABTANumber&gt;</span>YourABTANumber<span class="nt">&lt;/ABTANumber&gt;</span>
            <span class="nt">&lt;Password&gt;</span>YourPassword<span class="nt">&lt;/Password&gt;</span>
            <span class="nt">&lt;key&gt;</span>YourKey<span class="nt">&lt;/key&gt;</span>
            <span class="nt">&lt;token&gt;</span>YourToken<span class="nt">&lt;/token&gt;</span>
            <span class="nt">&lt;Email&gt;</span>test@test.com<span class="nt">&lt;/Email&gt;</span>
            <span class="nt">&lt;System&gt;</span>ABG<span class="nt">&lt;/System&gt;</span>
            <span class="nt">&lt;v&gt;</span>1<span class="nt">&lt;/v&gt;</span>
            <span class="nt">&lt;lang&gt;</span>de<span class="nt">&lt;/lang&gt;</span>
        <span class="nt">&lt;/Request&gt;</span>
    <span class="nt">&lt;/API_Header&gt;</span>
<span class="nt">&lt;/API_Reply&gt;</span>
</code></pre></div></div>

</div>

        </div>
      </main>
    </div>
  </body>
</html>
