---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="http://d17s4kc6349e5h.cloudfront.net/holidayextras/stylesheets/4.2.5/theme.min.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    <nav role="nav" class="navbar navbar-default hidden-print navbar-static-top">
       <div class="container">
         <a class="navbar-brand" href="https://www.holidayextras.co.uk">Holiday Extras</a> 
       </div>
     </nav>
    <div class="container block-md">
      <main role="main">
        <div class="panel panel-primary">
          <div class="panel-heading"><div class="h1">Holiday Extras API</div></div>
            {{ content }}
        </div>
      </main>
    </div>
  </body>
</html>
